

    
   <div class="alert alert-success" role="alert">
   <h4 class="alert-heading">{{data.title}}</h4>
   <hr>
   <hr>
   {{#each data.comment}}
   <p>{{body}}</p>
   <hr>
    
   {{/each}}
   </div>

   

